.text-center {
  text-align: center;
}
.grid {
  margin: auto;
  border-spacing: 0;
  border: solid 2px #111;
}
.grid tr td {
  margin: 0;
  padding: 0;
  border: solid 1px #111;
  width: 22px;
  height: 22px;
}
.grid tr td.alive {
  background: #fff;
}
.grid tr td:hover {
  cursor: pointer;
}
.grid-thumb tr td {
  height: 3px;
  width: 3px;
}
.grid-thumb tr td.alive {
  background: #fff;
}
.buttons-container {
  text-align: center;
  margin: 20px auto;
}
.thumbs-container {
  margin: 15px auto;
  width: 357px;
}
.thumb-container {
  border: solid 1px #6f6;
  display: inline-block;
  height: 47px;
  width: 47px;
  margin: 0 2px;
  overflow: hidden;
}
.thumb-container .icon-close-thumb {
  position: relative;
  top: 0;
  font-size: 12px;
  padding: 2px;
  color: #c33;
  background: rgba(255, 255, 255, 0.9);
  height: 25px;
  transition: 0.5s;
  cursor: pointer;
}
.thumb-container .icon-close-thumb .text-small {
  font-size: 10px;
}
.thumb-container:hover .icon-close-thumb {
  top: -20px;
}
