/* Styles go here */
.container-fluid {
  width: 1890px;
  height: 980px;
}


.text-center {
  text-align: center;
}

.select {
  color: black;
}

.grid {
  margin: auto;
  text-align: center;
  border-spacing: 0;
  border: solid 2px #111;
}

.grid tr td {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 12px;
  color: black;
  background-color: white;
  border: solid 1px #111;
  width: 18px;
  height: 18px;
}

.grid tr td.alive {
  background: #fff;
}

.buttons-container {
  width: 100%;
}

.thumbs-container {
  margin: 15px auto;
  width: 357px;
}


.table {
  float: left;
  margin: 4px;
  margin-left: 16px;
  padding: 0;
  width: 32%;
  font-weight: bold;
  text-align: center;
  border: solid 1px #111;

}

td[colspan="2"] {
  text-align: center;
}

section {
  display: -webkit-flex;
  display: flex;
  padding: 10px;
}

.myFile {
  text-align: center;
}


header {
  padding: 15px;
  text-align: center;
  font-size: 30px;
}

.container {
  width: 100%;
  height: 73%;
  border-style: solid;
  border-color: black;
  background-color: rgba(175, 175, 175, 0.262);
  display: flex;
  align-items: center;
  justify-content: center;
  border-collapse: collapse;
  overflow: hidden;
}

.btn {
  width: 100%;
  margin: 0;
  padding: 0;
}